<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Money Tracker App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="about">
      <div class="about-container">
        <h1 class="about-heading">About Money Tracker App</h1>
        <h3>
          This Money Tracker App has been created by
          <a href="https://linkedin.com/in/rahulkumarpahwa">
            <b>Rahul Kumar</b></a
          >
          as a part of learning Full Stack development.
        </h3>

        <h2>This App has following features :</h2>
        <ul>
          <li>
            You can add your Income as well as Expenditure with its Date and
            Information.
          </li>
          <li>You can also delete the record of your Income or Expenditure.</li>
          <li>Total Amount is also calculated at the end of table.</li>
          <li>You can go to About page to know more about the app.</li>
        </ul>
        <h2>Technologies used :</h2>
        <ul>
          <li>Ejs (Embedded JavaScript)</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>MongoDB</li>
          <li>JavaScript</li>
          <li>CSS</li>
          <li>CSS Flexbox</li>
        </ul>
      </div>
      <button><a href="/">Back to Home Page</a></button>
    </div>
  </body>
</html>
