<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Money Tracker App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section>
      <h1>Money Tracker App</h1>
      <form action="/add" method="post">
        <div class="input-div">
          <div>
            <label for="category"> Choose Category :</label>
            <input
              type="radio"
              name="category"
              id="category"
              value="expense"
              required
            />
            <label for="category">Expense</label>
            <input
              type="radio"
              name="category"
              id="category"
              value="income"
              required
            />
            <label for="category">Income</label>
          </div>

          <input
            type="number"
            name="amount"
            placeholder="Enter the Amount in ₹"
            required
          />

          <input type="text" name="info" placeholder="Enter Info" required />

          <input type="date" name="date" required />
          <button type="submit">Add</button>
        </div>
      </form>
    </section>

    <section>
      <h1>Income and Expenses</h1>
      <div class="output-div">
        <table>
          <thead>
            <tr class="output-div-head">
              <th>Category</th>
              <th>Amount (in ₹)</th>
              <th>Info</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>

            <tr class="output-div-body">
              <td><%= data[i].category %></td>
              <td><%= data[i].amount %></td>
              <td><%= data[i].info %></td>
              <td><%= data[i].date %></td>
              <td><button>Delete</button></td>
            </tr>
            <% } %>
          </tbody>
          <tfooter>
            <td>Total :</td>
            <td></td>
          </tfooter>
        </table>
      </div>
    </section>

    <script src="scripts/index.js"></script>
  </body>
</html>
